@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');
.common-background {
    background-color: #0a0a0a;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: -1px -1px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #1f1f1f;
    /* dark mode bg */
}

::-webkit-scrollbar-thumb {
    background-color: #EDB359;
    border-radius: 10px;
    border: 2px solid #1f1f1f;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f5c774;
}


::selection {
    background-color: #EDB359;
    color: #1f1f1f;
}