@import "tailwindcss";

@theme {
    --font-sora : "Sora", "sans-serif";
    --font-oswald: "Oswald", sans-serif;
    --font-quicksand: "Quicksand", sans-serif;
    --font-caveat: "Caveat", cursive;
}